:root {
  --primary-color: #00d8e7;
  --secondary-color: #181818;
  --glass-bg: rgba(255, 255, 255, 0.048); /* Transparent white for glass */
  --glass-border: rgba(255, 255, 255, 0.2); /* Soft white border */
  --white-smoke: #fcfcfce8;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
  background-color: var(--secondary-color);
}
.section {
  display: flex;
  justify-content: center;
  height: 100vh;
}
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 100px 0px ;
  gap: 20px;
}
.logo {
  padding-left: 100px;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
}
.nav-link{
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: var(--primary-color);
  padding-bottom: 4px;
  display: inline-block;
}
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.4s ease-in-out;
}
.nav-link:hover::after {
  width: 100%;
}
.home-container {
  padding-top: 160px;
}
.intro-text {
  font-size: 24px;
  color: var(--primary-color);
}
.name { 
  font-size: 90px;
  color: var(--primary-color);
}
.skill-buttons{
  display: flex;
  justify-content: end;
  gap: 10px;
}
.skill-btn {
  padding: 7px;
  border-radius: 5px;
  border: none;
  border-top: 2px solid var(--primary-color);
  background-color: transparent;
  font-size: 17px;
  color: var(--primary-color);
}

